<a href="https://colab.research.google.com/github/linaafauziiah2025-beep/KKA-X-SEMESTER-1/blob/main/2_Tipe_Variabel_Lina_F_X_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama:Lina Fauziah

Kelas:X.8

No.absen:14

#Konsep Dasar Variabel

In [ ]:
print("linaafauziiah.2025@gmail.com")
print("linaafauziiah.2025@gmail.com")
print("linaafauziiah.2025@gmail.com")
print("linaafauziiah.2025@gmail.com")

linaafauziiah.2025@gmail.com
linaafauziiah.2025@gmail.com
linaafauziiah.2025@gmail.com
linaafauziiah.2025@gmail.com

In [ ]:
email_user_1 = "linaafauziiah.2025@gmail.com"

print(email_user_1)
print(email_user_1)
print(email_user_1)
print(email_user_1)

linaafauziiah.2025@gmail.com
linaafauziiah.2025@gmail.com
linaafauziiah.2025@gmail.com
linaafauziiah.2025@gmail.com

#Peraturan Penulisan Variabel

In [ ]:
# Hanya boleh huruf, angka, under score
nama siswa 1 = "Azkaal Tifani"

SyntaxError: invalid syntax (ipython-input-3442662055.py, line 2)

In [ ]:
namasiswa1 = "Azkaal Tifani"
nama_mahasiswa_1 = "Yoga Afgani"

print(namasiswa1)
print(nama_mahasiswa_1)

Azkaal Tifani
Yoga Afgani

In [ ]:
# Tidak boleh didahului oleh angka
1_nama_guru= "Shinta Hanafia"

print(1_nama_guru)

SyntaxError: invalid decimal literal (ipython-input-360005406.py, line 2)

In [ ]:
#Sensitif terhadap kapital
tinggi_badan_1 = 150

print(Tinggi_badan_1)

NameError: name 'Tinggi_badan_1' is not defined

In [ ]:
#Tidak boleh dengan kata kunci python
class = "X.8"

print(class)

SyntaxError: invalid syntax (ipython-input-3696313411.py, line 2)

In [ ]:
#Tidak error tapi tidak deskriptif
_= "Farros Alea"

print(_)

nama_mahasiswa_itb = "Farros Taulany"
print(nama_mahasiswa_itb)

Farros Alea
Farros Taulany

In [ ]:
nama_buah = "apel"

print(nama_buah)

apel

In [ ]:
harga_buah= 15000

print(harga_buah)

15000

In [ ]:
kasir1 = "karena"

print(kasir1)

karena

#Assignment

In [ ]:
#Single Assignment
harga_rinso = 1000

print(harga_rinso)

1000

In [ ]:
harga_molto = 30000
harga_pepsodent = 15000
harga_pocari = 10000

print(harga_molto)
print(harga_pepsodent)
print(harga_pocari)

30000
15000
10000

In [ ]:
#Multiple assignment
harga_telur, harga_royco, harga_walls = 26000,5000,10000

print(harga_telur)
print(harga_royco)
print(harga_walls)

26000
5000
10000

In [ ]:
nama_siswa_1, nilai_uh_kka_1 = "Shinta Hanafia", 90

print(nama_siswa_1)
print(nilai_uh_kka_1)

Shinta Hanafia
90

In [ ]:
nama_siswa_1, nilai_uh_kka_1 = "Shinta Hanafia", 90,"Muhammad Abdullah"

print(nama_siswa_1)
print(nilai_uh_kka_1)
print(nama_ortu_1)

ValueError: too many values to unpack (expected 2)

In [ ]:
nilai_yoga = 100
nilai_farros = 100
nilai_lisaan = 100

In [ ]:
nilai_yoga,nilai_farros,nilai_lisaan = 100,100,100

In [ ]:
#Chain Assignment
nilai_yoga=nilai_farros=nilai_lisaan = 100

In [ ]:
print(nilai_yoga, nilai_farros, nilai_lisaan)

100 100 100

# Cara Penggunaan Operator di Python

In [ ]:
# Tanpa Variabel
print(9+3)

12

In [ ]:
print("9+3")

9+3

In [ ]:
print(sembilan plus tiga(

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2054832624.py, line 1)

In [ ]:
#Operand di simpan ke variabel
buku_tulis_yoga = 9
buku_tulis_yogi = 3

print(buku_tulis_yoga + buku_tulis_yogi)

12

# Jenis Operator Aritmatika

In [ ]:
#Penjumlahan

apel_shinta = 5
apel_aurin = 2

total_apel = apel_shinta + apel_aurin

print(total_apel)

7

In [ ]:
#Pengurangan

apel_shinta = 5
apel_aurin = 2

selisih_apel = apel_shinta - apel_aurin

print(selisih_apel)

3

In [ ]:
#Perkalian

jumlah_kardus_air_minum = 3
jumlah_botol_perkardus = 10

total_botol_air_minum = jumlah_kardus_air_minum *jumlah_botol_perkardus


print(total_botol_air_minum)

30

In [ ]:
#Pembagian

total_botol_air_minum = 30
jumlah_anak_yatim = 7

jumlah_botol_tiap_anak_yatim = total_botol_air_minum / jumlah_anak_yatim

print(jumlah_botol_tiap_anak_yatim)

4.285714285714286

In [ ]:
#Pembagian bulat

total_botol_air_minum = 30
jumlah_anak_yatim = 7

jumlah_botol_tiap_anak_yatim = total_botol_air_minum // jumlah_anak_yatim

print(jumlah_botol_tiap_anak_yatim)

4

In [ ]:
#Sisa bagi

total_botol_air_minum = 30
jumlah_anak_yatim = 7

sisa_bagi_botol = total_botol_air_minum % jumlah_anak_yatim

print(sisa_bagi_botol)

2

In [ ]:
#Perpangkatan

sisi = 6
luas_persegi = sisi ** 2

print(luas_persegi)

36

In [ ]:
volume_kubus = 27
sisi = volume_kubus ** (1/3)

print(sisi)

3.0

In [ ]:
sisi = 3
volume_kubus = sisi ** 3

print(volume_kubus)

27

In [ ]:
luas_persegi = 25
sisi = luas_persegi ** (1/2)

print(sisi)

5.0

In [ ]:
#Cara 1. Hitung langsung di print

print (24*3)

72

In [ ]:
#Cara 2: Simpan angka ke variabel, lalu di tampilkan

total_jumlah_botol = 24 * 3

print(total_jumlah_botol)

72

In [ ]:
# Cara 3: Simpan angka ke variabel, lalu kalikan langsung di print

banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(banyak_botol_per_kardus * jumlah_kardus)

72

In [ ]:
#Cara 4: Simpan angka ke variabel, hasilnya juga disimpan ke variabel baru, lalu tampilkan

banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus

print(total_jumlah_botol)

72

In [ ]:
#1 Penjumlahan

apel_dina = 8
apel_diberi = 5
total_apel = apel_dina + apel_diberi

print("Jumlah apel Dina sekarang =", total_apel)

Jumlah apel Dina sekarang = 13

In [ ]:
#2 Pengurangan

mangga_dipetik = 30
mangga_dijual = 12
sisa_mangga = mangga_dipetik - mangga_dijual

print(" Sisa mangga =", sisa_mangga)

 Sisa mangga = 18

In [ ]:
#3 Perkalian

jumlah_meja = 6
siswa_per_meja = 4
total_siswa = jumlah_meja * siswa_per_meja

print("Jumlah siswa seluruhnya =", total_siswa)

Jumlah siswa seluruhnya = 24

In [ ]:
#4 Pembagian

roti = 30
orang = 4
roti_per_orang = roti / orang

print("Roti yang diterima setiap orang =", roti_per_orang)

Roti yang diterima setiap orang = 7.5

In [ ]:
#5 Pembagian Bulat & Sisa Bagi

roti = 30
orang = 4
roti_utuh_per_orang = roti // orang
sisa_roti = roti % orang
print(" Roti utuh per orang =", roti_utuh_per_orang)
print(" Sisa roti =" , sisa_roti)

 Roti utuh per orang = 7
 Sisa roti = 2

In [ ]:
# 6  sisa bagi

jumlah_donat = 25
jumlah_anak = 6

total_sisa_bagi = jumlah_donat & jumlah_anak

print(total_sisa_bagi)

0

In [ ]:
#7 Perpangkatan (Luas Persegi)

sisi_persegi = 7
luas_taman = sisi_persegi ** 2
print("Luas taman persegi =", luas_taman, "m²")

Luas taman persegi = 49 m²

In [ ]:
#8 Akar Kuadrat (Persegi)

luas_persegi = 81
sisi_persegi = luas_persegi ** 0.5

print("Panjang sisi persegi =", sisi_persegi, "meter")

Panjang sisi persegi = 9.0 meter

In [ ]:
#9 Akar Pangkat Tiga (Kubus)

volume_kubus = 64
sisi_kubus = volume_kubus ** (1/3)

print("Panjang sisi kubus =", round(sisi_kubus), "meter")

Panjang sisi kubus = 4 meter

# Jenis-jenis Tipe Variabel

In [ ]:
a = 0
print (a)
type(a)

0

int

In [ ]:
b = 0.0
print(b)
type(b)

0.0

float

In [ ]:
c = "Hasyim"
print(c)
type (c)

Hasyim

str

In [ ]:
d = true
print (d)
type(d)

NameError: name 'true' is not defined

In [ ]:
d = True
print(d)
type(d)

True

bool

In [ ]:
e = "False"
print(e)
type(e)

False

str

In [ ]:
f = 9,9
print(f)
type(f)

(9, 9)

tuple

In [ ]:
type(8.1)

float

# Mengubah Tipe Variabel

In [ ]:
x = 8
print(x)
type(x)

8

int

In [ ]:
x =float(x)
print(x)
type(x)

8.0

float

In [ ]:
z = 10
print(z)
type(z)

10

int

In [ ]:
z =float(z)
print(z)
type(z)

10.0

float

In [ ]:
k = True
print(k)
type(k)

True

bool

In [ ]:
k = int(k)
print (k)
type(k)

1

int

In [ ]:
m = 2
print(m)
type(m)

2

int

In [ ]:
m =bool(m)
print(m)
type(m)

True

bool

In [ ]:
n = 0.0
print(n)
type(n)

0.0

float

In [ ]:
n =bool(n)
print(n)
type(n)

False

bool

In [ ]:
h = float (5)
print (h)
type(h)

5.0

float

# Operator Perbandingan

In [ ]:
print(5 > 3)

True

In [ ]:
print(5 < 3)

False

In [ ]:
print(5 >= 5)

True

In [ ]:
print(6 >= 5)

True

In [ ]:
print(6 <= 6)

True

In [ ]:
print( 6 != 6 )

False

In [ ]:
print ( 7 == 8)

False

# Operator Logika

In [ ]:
print( 8 > 7 and 6 == 6 )

True

In [ ]:
print( 5 > 2 or 4 <= 4)

True

In [ ]:
print (not( 5 < 2 or 4 >= 4 ))

False

In [ ]:
a = 10
b = 20
c = 30

print(not(a > b and a != c))

True

In [ ]:
print( not( 10 == a or c <= 31 ))

False

In [ ]:
nilai_kka = 76
kkm_kka = 75

print(nilai_kka >= kkm_kka)

True